@charset "utf-8";
body {
	background-color: #468CE0;
}
.navbar-default {
    background-color: #0B5C88;
    border-color: WHITE;
}
/* title */
.navbar-default .navbar-brand {
    color: #F8F8F8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#468CE0;
}
.navbar-default .navbar-nav > li > a {
    color: #F8F8F8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#468CE0;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #F8F8F8;
    background-color: #468CE0;

}
.navbar-default {
	background-color:#0B5C88;	
}
nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-nav>.active>a:brand {
	color: #F8F8F8;
	background-color: #0BC88;
	
}
.jumbotron .h1, .jumbotron h1 {
    color: WHITE;	
    BACKGROUND-COLOR: #468CE0;
	
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgba(177, 232, 247, 0.87);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    /* color: inherit; */
    BACKGROUND-COLOR: rgba(0, 0, 0, 0.26);

}
